* {margin:0; padding:0;}
li {list-style:none;}
img, fieldset {border:none;}
img, form {vertical-align:middle;}
i, em, address {font-style:normal;}
a {text-decoration:none; color:black;}
table{border-collapse:collapse;}
table,th,td{border:1px solid #000;}